/*=================== Default Style ===================*/
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
}
a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
}

div{
    display:flex;
    width:100%;

    /*border: 0.5px dotted rgb(0,0,0,.5);*/
}
@media only screen and (min-width: 980px) {
body{
    user-select: none;
    animation:intro2 5s forwards ease-in-out;
    height:90%;
    overflow-y:hidden;
}}
                    @media only screen and (max-width: 980px) {
                        body{
                            user-select: none;
                            height:90%;
                            animation:intro2 5s forwards ease-in-out;
                            overflow-y:hidden;
                        }}
html{
    scroll-behavior: smooth;
    
}
/*=================== TITLE ===================*/
@media only screen and (min-width: 980px) {
    .titledivider{
        height:500px;
        width:100%;
        display:flex;
        position:static;
        animation:intro 3s forwards ease-in-out;
        z-index:1;
    }}
                        @media only screen and (max-width: 980px) {
                            .titledivider{
                                height:400px;
                                width:100%;
                                display:flex;
                                position:static;
                                animation:intro 3s forwards ease-in-out;
                            }}
    @media only screen and (min-width: 980px) {
    .title{
        position:absolute;
        height: fit-content;
        width: 100%;
        translate: -200px 0px;
        align-self: flex-end;
    
        font-family: 'Playfair Display SC';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 84px;
        text-align: center;
        color:rgb(255, 255, 255);
        animation: unshadow 0.5s 2.5s forwards ;
    }}
                        @media only screen and (max-width: 980px) {
                            .title{
                                position:absolute;
                                height: fit-content;
                                width: 100%;
                                translate: 0px 0px;
                                align-self: flex-end;
                            
                                font-family: 'Playfair Display SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 30px;
                                line-height: 84px;
                                text-align: center;
                                text-shadow: 1px -1px rgb(0, 0, 0); 
                                color:rgb(255, 255, 255);
                                animation: unshadowm 0.5s 2.5s forwards ;
                            }}
    @media only screen and (min-width: 980px) {
    .titleshadow{
        position:absolute;
        height: fit-content;
        width: 100%;
        transform: scaleX(-1) rotate(180deg);
        align-self: center;
        
        font-family: 'Playfair Display SC';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 84px;
        text-align: center;
        color: #000000;
        opacity:0;
        filter:blur(1px);
        animation: shadow 0.3s 2.5s forwards ease-in;
    }}
                        @media only screen and (max-width: 980px) {
                            .titleshadow{
                                position:absolute;
                                height: fit-content;
                                width: 100%;
                                transform: scaleX(-1) rotate(180deg);
                                translate: -350px 110px;
                                align-self: center;
                                
                                font-family: 'Playfair Display SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 30px;
                                line-height: 84px;
                                text-align: center;
                                color: #000000;
                                opacity:0;
                                filter:blur(1px);
                                animation: shadowm 0.3s 2.5s forwards ease-in;
                            }}
    
/*=================== TITLE ===================*/
@media only screen and (min-width: 980px) {
.titledivider2{
    width:100%;
    margin:auto;
    display:flex;
    position:static;
    animation:intro 3s forwards ease-in-out;
    margin: 0; height: 100%; overflow: hidden
}}
                    @media only screen and (max-width: 980px) {
                        .titledivider2{
                            width:100%;
                            display:flex;
                            position:static;
                            animation:intro 3s forwards ease-in-out;
                            margin: 0; height: 100%; overflow: hidden
                        }}
@media only screen and (min-width: 980px) {
.title2{
    position:relative;
    height: fit-content;
    width: 60%;
    align-self: center;
    translate:0px -100px;
    margin:auto;

    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    color:rgb(65, 65, 65);
    animation:intro 3s forwards ease-in-out;
    text-decoration:underline dotted 2px;
}}
                    @media only screen and (max-width: 980px) {
                        .title2{
                            position:relative;
                            height: fit-content;
                            width: 60%;
                            align-self: center;
                            margin:auto;
                        
                            font-family: 'Playfair Display SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 44px;
                            text-align: left;
                            text-align: center;
                            color:rgb(65, 65, 65);
                            animation:intro 3s forwards ease-in-out;
                            text-decoration:underline dotted 2px;
                        }}
@media only screen and (min-width: 980px) {
.titleshadow{
    position:absolute;
    height: fit-content;
    width: 100%;
    transform: scaleX(-1) rotate(180deg);
    align-self: center;
    
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    text-align: left;
    color: #000000;
    opacity:0;
    filter:blur(1px);
    animation: shadow 0.3s 2.5s forwards ease-in;
}}
                    @media only screen and (max-width: 980px) {
                        .titleshadow{
                            position:absolute;
                            height: fit-content;
                            width: 100%;
                            transform: scaleX(-1) rotate(180deg);
                            translate: -350px 110px;
                            align-self: center;
                            
                            font-family: 'Playfair Display SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 84px;
                            text-align: left;
                            color: #000000;
                            opacity:0;
                            filter:blur(1px);
                            animation: shadowm 0.3s 2.5s forwards ease-in;
                        }}

/*=================== Section 2 ===================*/
@media only screen and (min-width: 980px) {
.section2divider2{
    height:200px;
    width:100%;
    display:flex;
    position:static;
    animation:intro2 3s forwards ease-in-out;
    float:right;
    background-color:white;
    padding:10px;
    z-index:1;
}}
                    @media only screen and (max-width: 980px) {
                        .section2divider2{
                            height:800px;
                            width:100%;
                            display:flex;
                            position:static;
                            animation:intro2 3s forwards ease-in-out;
                            float:right;
                        }}
@media only screen and (min-width: 980px) {
.s2text2{
    position:absolute;
    height: 200px;
    width: 400px;
    translate: 0px 0px;
    align-self:flex-end;
    margin-left:43%;

    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: auto;
    text-align: left;
    color: #000000;
    background-color:white;
    padding:10px;
    z-index:1;
    border-radius: 15px;

    text-decoration:underline dotted 2px;
    
}}
                    @media only screen and (max-width: 980px) {
                        .s2text2{
                            position:absolute;
                            height: fit-content;
                            width: 200px;
                            translate: 0px 0px;
                            align-self:flex-end;
                        
                            font-family: 'Vollkorn';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: auto;
                            text-align: left;
                            color: #000000;
                            background-color:white;
                            padding:10px;
                            z-index:1;
                            border-radius: 15px;
                            text-decoration:underline dotted 2px;
                        }}
@media only screen and (min-width: 980px) {
.s2shadow{
    position:static;
    height: fit-content;
    width: 400px;
    translate: -350px -85px;
    align-self:flex-end;
    margin-left:50%;
    transform: scaleX(-1) rotate(180deg);

    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: auto;
    text-align: left;
    color: #000000;
    opacity:0.25;
    filter:blur(1px);
}}
                    @media only screen and (max-width: 980px) {
                        .s2shadow{
                            position:absolute;
                            height: fit-content;
                            width: 200px;
                            translate: -180px -48px;
                            align-self:flex-end;
                            margin-left:50%;
                            transform: scaleX(-1) rotate(180deg);
                        
                            font-family: 'Vollkorn';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: auto;
                            text-align: left;
                            color: #000000;
                            opacity:0.25;
                            filter:blur(0.5px);
                        }}

/*=================== Section 3 ===================*/
@media only screen and (min-width: 980px) {
    .light{
        position: absolute;
        width: 942px;
        height:400px;
        animation:intro 3s forwards ease-in-out;
        translate: 100px;
    
        font-family: 'Playfair Display SC';
        text-decoration:underline dotted 2px;
        font-style: normal;
        font-weight: 400;
        font-size: 150px;
        line-height: 150px;
        text-align: center;
        color: #FFB722;
    }}
                    @media only screen and (max-width: 980px) {
                    .light{
                        position: absolute;
                        width: 400px;
                        height:400px;
                        animation:intro 3s forwards ease-in-out;
                        translate: 100px -50px;

                        font-family: 'Playfair Display SC';
                        text-decoration:underline dotted 2px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 50px;
                        line-height: 50px;
                        text-align: center;
                        color: #FFB722;
                    }}
@media only screen and (min-width: 980px) {
    .light:hover{
        color: #ffa600;
    }}
                    @media only screen and (max-width: 980px) {
                    .light:hover{
                        color: #ffa600;
                    }}
@media only screen and (min-width: 980px) {
    .lightglow{
        position: absolute;
        width: 942px;
        translate: 100px;
        height:400px;
    
        font-family: 'Playfair Display SC';
        text-decoration:underline dotted 2px;
        text-decoration:dotted;
        font-style: normal;
        font-weight: 400;
        font-size: 150px;
        line-height: 150px;
        text-align: center;
    
        color: #ffb31a;
    
        filter: blur(10px);
        animation: unglow 0.5s forwards;
    }}
                    @media only screen and (max-width: 980px) {
                    .lightglow{
                        position: absolute;
                        width: 400px;
                        translate: 100px -50px;
                        height:400px;

                        font-family: 'Playfair Display SC';
                        text-decoration:underline dotted 2px;
                        text-decoration:dotted;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 50px;
                        line-height: 50px;
                        text-align: center;

                        color: #ffb31a;

                        filter: blur(10px);
                        animation: unglow 0.5s forwards;
                    }}

/*=================== Section 4 ===================*/



@media only screen and (min-width: 980px) {
.lightglow:hover{
    filter: blur(80px);
    animation: glow 0.5s forwards;
}}
                    @media only screen and (max-width: 980px) {
                        .lightglow:hover{
                            filter: blur(40px);
                            animation: glow 0.5s forwards;
                        }}
/*=================== Page 2 Section 1 ===================*/
@media only screen and (min-width: 980px) {
    .section2divider2{
        height:1100px;
        width:100%;
        display:flex;
        position:static;
        animation:intro 3s forwards ease-in-out;
    }}
                        @media only screen and (max-width: 980px) {
                            .section2divider2{
                                height:900px;
                                width:100%;
                                display:flex;
                                position:static;
                                animation:intro 3s forwards ease-in-out;
                            }}

    @media only screen and (min-width: 980px) {
    .s2text2{
        position:absolute;
        height: fit-content;
        width: 400px;
        translate: 200px 0px;
        align-self:flex-end;
        padding-bottom:500px;
    
        font-family: 'Vollkorn';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: auto;
        text-align: center;
        color: #000000;
    }}
                        @media only screen and (max-width: 980px) {
                            .s2text2{
                                position:absolute;
                                height: fit-content;
                                width: 200px;
                                translate: 200px 0px;
                                align-self:flex-end;
                                padding-bottom:500px;
                            
                                font-family: 'Vollkorn';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: auto;
                                text-align: center;
                                color: #000000;
                            }}
    @media only screen and (min-width: 980px) {
    .s2shadow2{
        position:absolute;
        height: fit-content;
        width: 400px;
        translate: -770px -670px;
        align-self:flex-end;
        padding-bottom:500px;
        transform: scaleX(-1) rotate(180deg);
        float:left;
    
        font-family: 'Vollkorn', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: auto;
        text-align: center;
        color: #000000;
        opacity:0.25;
        filter:blur(1px);
    }}
                        @media only screen and (max-width: 980px) {
                            .s2shadow2{
                                position:absolute;
                                height: fit-content;
                                width: 200px;
                                translate: -770px -670px;
                                align-self:flex-end;
                                padding-bottom:500px;
                                transform: scaleX(-1) rotate(180deg);
                                float:left;
                            
                                font-family: 'Vollkorn';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: auto;
                                text-align: center;
                                color: #000000;
                                opacity:0.25;
                                filter:blur(0.5px);
                            }}

/*=================== Page 2 Section 2 ===================*/
@media only screen and (min-width: 980px) {
.light2{
    position: absolute;
    width: 942px;
    height: 600px;
    animation:intro 3s forwards ease-in-out;
    left:25%;

    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    color: #FFB722;
}}
                @media only screen and (max-width: 980px) {
                .light2{
                    position: absolute;
                    width: 400px;
                    height: 200px;
                    animation:intro 3s forwards ease-in-out;
                    left:15%;

                    font-family: 'Playfair Display SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #FFB722;
                }}
@media only screen and (min-width: 980px) {
.light2:hover{
    color: #ffa600;
}}
                @media only screen and (max-width: 980px) {
                .light2:hover{
                    color: #ffa600;
                }}
@media only screen and (min-width: 980px) {
.lightglow2{
    position: absolute;
    width: 942px;
    height: 600px;
    left:25%;

    font-family: 'Playfair Display SC';
    text-decoration:underline dotted 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150px;
    text-align: center;

    color: #ffb31a;

    filter: blur(10px);
    animation: unglow 0.5s forwards;
}}
                @media only screen and (max-width: 980px) {
                .lightglow2{
                    position: absolute;
                    width: 400px;
                    height: 600px;
                    left:15%;

                    font-family: 'Playfair Display SC';
                    text-decoration:underline dotted 2px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 50px;
                    text-align: center;

                    color: #ffb31a;

                    filter: blur(10px);
                    animation: unglow 0.5s forwards;
                }}

/*=================== Animation ===================*/

@keyframes glow{
    0%{color: #FFAC00; filter: blur(10px);}
    100%{color: #ffd900;filter: blur(20px);}
}
@keyframes unglow{
    100%{color: #FFAC00; filter: blur(10px);}
    0%{color: #ffd900;filter: blur(20px);}
}
@keyframes unshadow{
    100%{text-shadow: 0px 0px rgb(0, 0, 0); color:black;}
    0%{text-shadow: 2px -2px rgb(0, 0, 0); color:rgb(255, 255, 255);}
}
                    @keyframes unshadowm{
                        100%{text-shadow: 0px 0px rgb(0, 0, 0); color:black;}
                        0%{text-shadow: 1px -1px rgb(0, 0, 0); color:rgb(255, 255, 255);}
                    }
@keyframes shadow{
    100%{opacity: 0.3; translate:-700px 120px}
    0%{opacity: 0; translate:-705px 120px;}
}
                    @keyframes shadowm{
                        100%{opacity: 0.3; translate: -350px 110px;}
                        0%{opacity: 0; translate: -355px 110px;}
                    }

@keyframes intro2 {
    0%{opacity: 0; background-color:black;}
    100%{opacity: 1; background-color:white;}
}

@keyframes intro {
    0%{opacity: 0; background-color:black;}
    100%{opacity: 1; background-color:white;}
}